* {
  padding: 0px;
  margin: 0px;
}

body {
  background-image: url(wood.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

/* ////////////////////////////////////////////////////////////////////////////////////////// */
/* skip to main */
.skip-to-main {
  padding: 10px;
  background-color: rgba(255, 255, 255, 1);
  width: 150px;
  text-align: center;
  z-index: 10;
  /* plassering */
  opacity: 0.1;
  position: fixed;
  left: -300px;
}

/* ////////////////////////////////////////////////////////////////////////////////////////// */
/* header */
header {
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 10px 10px 54px -6px rgba(0, 0, 0, 1);
  padding-bottom: 0px;
  border-bottom: 1.5px solid #644a3e;
  font-family: Ubuntu;
  z-index: 2;
  position: sticky;
  top: 0;
  /* grid oppdeling av header */
  /* ------------------------ */
  display: grid;
  margin-bottom: -100px;
  grid-template-columns: 5% 90% 5%;
  width: 100%;
  height: 100%;
  grid-template-rows: 20px auto;
  grid-template-areas:
    " logo nav ."
    "logo tittel .";
}

.logo {
  cursor: pointer;
  max-height: 50px;
  margin-top: 6px;
  margin-left: 8px;
  grid-area: logo;
  transition: opacity .5s ease-in-out;
  opacity: 0.5
}

.logo:hover {
  transition: opacity .5s ease-in-out;
  opacity: 1
}

header h1 {
  color: #644a3e;
  font-size: 24px;
  margin: 0px;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 5px;
  grid-area: tittel;
  -webkit-transition: color .2s ease-in;
}

header h1:hover {
  -webkit-transition: color .2s ease-in;
  color: #e6723a;
}

/* ////////////////////////////////////////////////////////////////////////////////////////// */
/* menyen */
header nav {
  font-size: 11px;
  font-family: Roboto;
  text-align: center;
  max-width: 60%;
  margin: auto;
  grid-area: nav;
  padding-top: 5px;
  padding-bottom: 5px;
}

header nav a {
  font-weight: bold;
  color: black;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 15px;
  text-decoration: none;
}

header nav a:hover {
  color: #e6723a;
  border-bottom: 1.5px solid #e6723a;
  background-color: rgba(0, 0, 0, 0.05);
}

/* ////////////////////////////////////////////////////////////////////////////////////////// */
/* main content boksen */
.main-content {
  padding: 0px;
  /* clear: both; */
  margin: auto;
  width: 60%;
  height: auto;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 10px 10px 54px -6px rgba(0, 0, 0, 1);
}

/* ////////////////////////////////////////////////////////////////////////////////////////// */
/* Intro */
.banner-area {
  border-top: solid 5px rgba(255, 255, 255, 0.9);
  font-family: Helvetica;
  color: #644a3e;
  font-variant: small-caps;
  transition: opacity .5s ease-in-out;
}

.banner-area h2 {
  font-size: 2em;
}

.banner-area p {
  font-size: 1em;
  font-weight: bold;
}

.banner-area img {
  transition: opacity .5s ease-in-out;
  opacity: 0.95;
  margin-bottom: 50px;
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.banner-area img:hover {
  transition: opacity .5s ease-in-out;
  opacity: 1;
}

.text-felter{
  width: inherit;
  padding: 20px;
}
/* ////////////////////////////////////////////////////////////////////////////////////////// */
/* scrollebaren */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #696969;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a1a1a1;
}

/* ////////////////////////////////////////////////////////////////////////////////////////// */
/* aside */
.aside-header {
  color: #644a3e;
  text-decoration: none;
  text-align: center;
}

.link-liste {
  margin-left: 5%;
}

.aside-fixed {
  font-family: ubuntu, sans-serif;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 10px 10px 54px -6px rgba(0, 0, 0, 1);
  padding: 15px;
  clear: both;
  position: absolute;
  left: 83.59%;
  top: 30%;
  width: 13%;
  position: sticky;
  top: 1;
}

.aside-meny a {
  color: #644a3e;
  text-decoration: none;
  line-height: 2rem;
}

/* ////////////////////////////////////////////////////////////////////////////////////////// */
